<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link href="style.css" type="text/css" rel="stylesheet"/>
  </head>
  <body ng-app="assignmentsApp">
    <div class="row">
        <h1 class="text-center">AngulareJS Assignment No. 2</h1>
    </div>

    <!-- Module 2 Coding Assignment -->
    <div class="row">
        <div class="column callout secondary">
          <h2>Module 2 Assignment</h2>
          <div class="column">
            <div class="column large-6">
                <h3>Items To Buy</h3>
                <div ng-controller="ToBuyController as toBuyCtrl">
                    <ol>
                      <li ng-repeat="item in toBuyCtrl.getItemsToBuy">Buy {{item.quantity}} {{item.name}}
                        <button class="button" ng-click="toBuyCtrl.moveItemtoBoughtList($index)">Bought</button>
                      </li>
                    </ol>
                    <div class="" ng-if="!toBuyCtrl.getItemsToBuy.length">
                      Everything is bought!
                    </div>
                </div>
            </div>
            <div class="column large-6">
                <h3>Items Already Bought</h3>
                <div ng-controller="BoughtController as boughtCtrl">
                  <ol>
                    <li ng-repeat="item in boughtCtrl.getItemsBought">Bought {{item.quantity}} {{item.name}}</li>
                  </ol>
                  <div class="" ng-if="!boughtCtrl.getItemsBought.length">
                    Nothing bought yet
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
