<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body ng-app="NarrowItDownApp">
  <div class="container" ng-controller="NarrowItDownController as list">
    <h1 class="heading-title">Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="list.searchTerm">
    </div>

    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="list.searchItems();">Narrow It Down For Me!</button>
    </div>

    <div class="clearfix">&nbsp;</div>

    <found-items items="list.found" fetched="list.fetched" on-remove="list.removeItem(index)"/>
  </div>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
